!!!
%html
  %head
    %title Backbone Dummy
    = stylesheet_link_tag "application", :media => "all"
    = include_gon
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %h1.m-main-headline Backbone Dummy
    .m-main-content-wrapper
      = yield
